<div class="jumbotron jumbotron-index">
  <h1 class="display-5">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте фотографии и подписывайтесь на публикации ваших друзей</p>
  <hr class="my-4">
  <button type="button" class="btn btn-outline-success ">Создать аккаунт</a>
  <button type="button" class="btn btn-outline-info">Войти</a>

</div>
