<% if user_signed_in? %>

<% else %>

<div class="jumbotron jumbotron-index">
  <h1 class="display-5">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте фотографии и подписывайтесь на публикации ваших друзей</p>
  <hr class="my-4">
  <%= link_to "Создать аккаунт",  new_user_registration_path, class: "btn btn-outline-success" %>
  <%= link_to "Войти", new_user_session_path, class: "btn btn-outline-info"%>
</div>

<% end %>
