/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Felipa);
@import 'ionicons';

.container-background{
  background-image: url(image_path('1.jpg')) ;
  width: 100%;
  min-height: 100vh ;
}
.photo-link:hover{
  opacity: 0.7;
}

.container-login{
  padding-right: 0;
  padding-left: 0;
  text-align: center;

}
.devise-form{
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.photo-form{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}

.jumbotron-index{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(240, 240, 240, 0.6)


}

.nav-index:link,
.nav-index:visited{
  color: #30f0e1

}
.nav-index:hover,
.nav-index:active{
  color: #363B90

}

.text-logo{

  font-family: 'Felipa', cursive;
  }

.landing-logo{
  font-size: 2rem;
}
.logo-proz{
  background: rgba(240, 240, 240, 0.6)
}
